<div id="date" class="bg-stone-900 m-2 p-3 overflow-hidden h-[89dvh] snap-center flex items-center relative rounded-xl shadow text-slate-50 justify-center">
  <img src="img/sudut.png" class="absolute rotate-90 -bottom-1 -left-2" width="130px" alt="" />
  <img src="img/sudut.png" class="absolute -rotate-90 -top-1 -right-2" width="130px" alt="" />
  
  
  <div data-aos="fade-up" class="flex gap-4 justify-center items-center flex-col font-[work sans]">
    Our wedding event
  </div>
</div>