<div id="date" class="bg-stone-900 m-2 p-3 overflow-hidden h-[89dvh] snap-center flex items-center relative rounded-xl shadow text-slate-50 justify-center">
  <img src="img/sudut.png" class="absolute rotate-90 -bottom-1 -left-2" width="130px" alt="" />
  <img src="img/sudut.png" class="absolute -rotate-90 -top-1 -right-2" width="130px" alt="" />
  
  
  <div data-aos="fade-up" class="flex gap-4 justify-center items-center flex-col font-[work sans]">
    <span>Save the date</span>
    <span class="text-4xl nama font-[sacramento]">Alif & Yani</span>
    <span>Akan menikah</span>
    <div class="flex gap-2.5 justify-center items-center">
      <span class="border-y border-white">Mei</span>
      <span class="text-4xl">20</span>
      <span class="border-y border-white">2024</span>
    </div>
  </div>
</div>