<div id="gift" class="bg-stone-900 m-2 p-3 overflow-hidden snap-center h-[89dvh] flex items-center relative rounded-xl shadow text-slate-50 justify-center">
  <img src="img/sudut.png" class="absolute rotate-90 -bottom-1 -left-2" width="130px" alt="" />
  <img src="img/sudut.png" class="absolute -rotate-90 -top-1 -right-2" width="130px" alt="" />
  
  
  <div class="flex justify-center items-center flex-col font-[work sans]">
    <span class="mb-9">Kado</span>
    <div class="flex w-full flex-col gap-4">
      <div class="bg-stone-700 flex items-center justify-between w-[300px] p-3 rounded-lg shadow">
        <div>
          <span>Dana</span>
          <br>
          <span class="text-xs">082241395522</span>
        </div>
        <img width="40px" class="grayscale rounded-lg" src="https://imgs.search.brave.com/ZQtY1R9Kpxf5bzuZdeftN6TP2cWxBl_HN1KEFW6qFEQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2Y1Lzhj/L2EzL2Y1OGNhMzUy/OGIyMzg4NzdlOTg1/NWZjYWMxZGFhMzI4/LmpwZw" alt="">
      </div>
      
      <div class="bg-stone-700 flex items-center justify-between w-[300px] p-3 rounded-lg shadow">
        <div>
          <span>Bri</span>
          <br><span class="text-xs font-normal text-orange-100">Alif Rahman</span>
          <br><span class="text-xs">768601017568537</span>
        </div>
        <img width="40px" class="grayscale rounded-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKglAyLDEX7EeB7o1y7J6MWLzHlswPmbpiVajxTnzevjZ150RcwADDx2oZ&s=10" alt="">
      </div>
      
      <div class="bg-stone-700 flex items-center justify-between w-[300px] p-3 rounded-lg shadow">
        <div>
          <span>Bri</span>
          <br><span class="text-xs font-normal text-orange-100">Rohmah yani</span>
          <br><span class="text-xs">520201034623532</span>
        </div>
        <img width="40px" class="grayscale rounded-lg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKglAyLDEX7EeB7o1y7J6MWLzHlswPmbpiVajxTnzevjZ150RcwADDx2oZ&s=10" alt="">
      </div>
    </div>
</div>