<nav class="fixed text-slate-100 right-0 bg-stone-800 p-4 bottom-0 box-border left-0 flex items-center justify-center">
  <div class="bg-stone-900 w-full pt-2 box-border text-stone-200 rounded-xl flex justify-evenly text-2xl items-center">
    <a href="#home"><ion-icon name="home"></ion-icon></a>
    <a href="#people"><ion-icon name="people"></ion-icon></a>
    <a href="#date"><ion-icon name="calendar"></ion-icon></a>
    <a href="#gift"><ion-icon name="gift"></ion-icon></a>
    <a href="#map"><ion-icon name="map"></ion-icon></a>
  </div>
</nav>