<div id="people" class="bg-stone-900 m-2 p-3 overflow-hidden snap-center h-[89dvh] flex items-center relative rounded-xl shadow text-slate-50 justify-center">
  <img src="img/sudut.png" class="absolute rotate-90 -bottom-1 -left-2" width="130px" alt="" />
  <img src="img/sudut.png" class="absolute -rotate-90 -top-1 -right-2" width="130px" alt="" />
  
  
  <div class="flex justify-center items-center flex-col font-[work sans]">
    <span class="mb-9">Mempelai</span>
    <div class="flex items-center gap-3 my-4">
      <div class="w-[100px] lg:w-20 lg:h-20 h-[100px] lg:w-20 lg:h-20 overflow-hidden rounded-xl">
        <img src="img/Proyek 11_2.jpg" class="grayscale" alt="">
      </div>
      <ion-icon name=heart class="text-2xl text-pink-200"></ion-icon>
      <div class="w-[100px] lg:w-20 lg:h-20 h-[100px] lg:w-20 lg:h-20 overflow-hidden rounded-xl">
        <img src="img/Proyek 11_3.jpg" class="grayscale" alt="">
      </div>
    </div>
    <span class="text-2xl font-[sacramento] border-b border-dashed -pb-1">Alif Rahman</span>
    <span class="font-normal mt-1">Dari pasangan:</span>
    <span class="font-thin">Bapak Wasiman & Ibu Riyanti</span>
    
    <span class="text-2xl mt-8 font-[sacramento] border-b border-dashed -pb-1">Rohmah Yani</span>
    <span class="font-normal mt-1">Dari pasangan:</span>
    <span class="font-thin">Bapak Burhanuddin & Ibu Sukesih</span>
  </div>
</div>